body {
	font: Arial, sans-serif;
}

.conteiner {
	max-width: 600px;
	margin: 30px auto;
}

button {
	padding: 5px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	margin-bottom: 20px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

button:hover {
	background-color: #45a049;
}

label {
  display: block;
  margin-bottom: 10px;
}